## The Battle of the Neighborhoods - Week 2

### Imports Libraries

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import lxml
pd.set_option('display.max_rows', None)
import json # library to handle JSON files
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
from sklearn.metrics.pairwise import cosine_similarity # pairwise cosine similarity for content-based filtering
# Matplotlib and associated plotting modules
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.colors as colors
import folium # map rendering library
print('Libraries imported.')

Libraries imported.

### Specify Hometown and its State Abbreviation

In [2]:
hometown = "Cupertino"#"Dallas" #"Cupertino" #"Mountain View"# "Hollywood" #"Menlo Park" # Tempe
state = "CA" #"TX" # "AZ"

**Read US city to geospatial coordinates mapping table into Pandas DataFrame**

In [3]:
df_cities = pd.read_csv('uscitiesv1.4.csv')
df_cities.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,population_proper,density,source,incorporated,timezone,zips,id
0,Prairie Ridge,Prairie Ridge,WA,Washington,53053,Pierce,47.1443,-122.1408,NaN,NaN,1349.8,polygon,False,America/Los_Angeles,98360 98391,1840037882
1,Edison,Edison,WA,Washington,53057,Skagit,48.5602,-122.4311,NaN,NaN,127.4,polygon,False,America/Los_Angeles,98232,1840017314
2,Packwood,Packwood,WA,Washington,53041,Lewis,46.6085,-121.6702,NaN,NaN,213.9,polygon,False,America/Los_Angeles,98361,1840025265
3,Wautauga Beach,Wautauga Beach,WA,Washington,53035,Kitsap,47.5862,-122.5482,NaN,NaN,261.7,point,False,America/Los_Angeles,98366,1840037725
4,Harper,Harper,WA,Washington,53035,Kitsap,47.5207,-122.5196,NaN,NaN,342.1,point,False,America/Los_Angeles,98366,1840037659

**Retrieve Venue information of howntown city with Foursquare API**

### NEW YORK Borough and Neighborhood

#### Use geopy library to get the latitude and longitude values of New York City.

In [5]:
address = 'New York City, NY'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of New York City are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of New York City are 40.7308619, -73.9871558.

In [6]:
with open('newyork_data.json') as json_data:
    newyork_data = json.load(json_data)

In [7]:
neighborhoods_data = newyork_data['features']

In [8]:
# define the dataframe columns
column_names = ['Borough', 'Neighborhood', 'Latitude', 'Longitude'] 

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)
df_hometown = pd.DataFrame(columns=column_names)

In [9]:
for data in neighborhoods_data:
    borough = neighborhood_name = data['properties']['borough'] 
    neighborhood_name = data['properties']['name']
        
    neighborhood_latlon = data['geometry']['coordinates']
    neighborhood_lat = neighborhood_latlon[1]
    neighborhood_lon = neighborhood_latlon[0]
    
    neighborhoods = neighborhoods.append({'Borough': borough,
                                          'Neighborhood': neighborhood_name,
                                          'Latitude': neighborhood_lat,
                                          'Longitude': neighborhood_lon}, ignore_index=True)

In [10]:
neighborhoods.head()

  Borough Neighborhood   Latitude  Longitude
0   Bronx    Wakefield  40.894705 -73.847201
1   Bronx   Co-op City  40.874294 -73.829939
2   Bronx  Eastchester  40.887556 -73.827806
3   Bronx    Fieldston  40.895437 -73.905643
4   Bronx    Riverdale  40.890834 -73.912585

In [11]:
def getNearbyVenues(names, latitudes, longitudes, radius=800, LIMIT=100):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [12]:
# newyork_venues = getNearbyVenues(names=neighborhoods['Neighborhood'],
#                                    latitudes=neighborhoods['Latitude'],
#                                    longitudes=neighborhoods['Longitude'],
#                                  radius = 800,
#                                  LIMIT = 100
#                                   )

In [13]:
newyork_venues = pd.read_csv('newyork_venues.csv')

In [14]:
print(newyork_venues.shape)
newyork_venues.head()
#newyork_venues.to_csv('newyork_venues_r800_l100.csv',index=False)

(10326, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Wakefield,40.894705,-73.847201,Lollipops Gelato,40.894123,-73.845892,Dessert Shop
1,Wakefield,40.894705,-73.847201,Rite Aid,40.896649,-73.844846,Pharmacy
2,Wakefield,40.894705,-73.847201,Carvel Ice Cream,40.890487,-73.848568,Ice Cream Shop
3,Wakefield,40.894705,-73.847201,Dunkin Donuts,40.890631,-73.849027,Donut Shop
4,Wakefield,40.894705,-73.847201,Cooler Runnings Jamaican Restaurant Inc,40.898276,-73.850381,Caribbean Restaurant

#### Check New York Neighborhoods and the number of its Venues

In [15]:
newyork_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
Allerton,29,29,29,29,29,29
Annadale,11,11,11,11,11,11
Arden Heights,5,5,5,5,5,5
Arlington,5,5,5,5,5,5
Arrochar,21,21,21,21,21,21
Arverne,16,16,16,16,16,16
Astoria,100,100,100,100,100,100
Astoria Heights,15,15,15,15,15,15
Auburndale,20,20,20,20,20,20
Bath Beach,47,47,47,47,47,47
Battery Park City,97,97,97,97,97,97
Bay Ridge,89,89,89,89,89,89
Bay Terrace,52,52,52,52,52,52
Baychester,23,23,23,23,23,23
Bayside,70,70,70,70,70,70
Bayswater,3,3,3,3,3,3
Bedford Park,31,31,31,31,31,31
Bedford Stuyvesant,27,27,27,27,27,27
Beechhurst,15,15,15,15,15,15
Bellaire,11,11,11,11,11,11
Belle Harbor,18,18,18,18,18,18
Bellerose,21,21,21,21,21,21
Belmont,98,98,98,98,98,98
Bensonhurst,37,37,37,37,37,37
Bergen Beach,6,6,6,6,6,6
Blissville,21,21,21,21,21,21
Bloomfield,4,4,4,4,4,4
Boerum Hill,84,84,84,84,84,84
Borough Park,19,19,19,19,19,19
Breezy Point,4,4,4,4,4,4
Briarwood,15,15,15,15,15,15
Brighton Beach,43,43,43,43,43,43
Broad Channel,4,4,4,4,4,4
Broadway Junction,15,15,15,15,15,15
Bronxdale,15,15,15,15,15,15
Brooklyn Heights,100,100,100,100,100,100
Brookville,1,1,1,1,1,1
Brownsville,21,21,21,21,21,21
Bulls Head,43,43,43,43,43,43
Bushwick,76,76,76,76,76,76
Butler Manor,7,7,7,7,7,7
Cambria Heights,14,14,14,14,14,14
Canarsie,5,5,5,5,5,5
Carnegie Hill,100,100,100,100,100,100
Carroll Gardens,100,100,100,100,100,100
Castle Hill,8,8,8,8,8,8
Castleton Corners,14,14,14,14,14,14
Central Harlem,47,47,47,47,47,47
Charleston,32,32,32,32,32,32
Chelsea,105,105,105,105,105,105
Chinatown,100,100,100,100,100,100
City Island,22,22,22,22,22,22
City Line,41,41,41,41,41,41
Civic Center,100,100,100,100,100,100
Claremont Village,16,16,16,16,16,16
Clason Point,10,10,10,10,10,10
Clifton,18,18,18,18,18,18
Clinton,100,100,100,100,100,100
Clinton Hill,92,92,92,92,92,92
Co-op City,16,16,16,16,16,16
Cobble Hill,100,100,100,100,100,100
College Point,42,42,42,42,42,42
Concord,9,9,9,9,9,9
Concourse,23,23,23,23,23,23
Concourse Village,37,37,37,37,37,37
Coney Island,16,16,16,16,16,16
Corona,17,17,17,17,17,17
Country Club,7,7,7,7,7,7
Crown Heights,20,20,20,20,20,20
Cypress Hills,28,28,28,28,28,28
Ditmas Park,49,49,49,49,49,49
Dongan Hills,27,27,27,27,27,27
Douglaston,20,20,20,20,20,20
Downtown,100,100,100,100,100,100
Dumbo,87,87,87,87,87,87
Dyker Heights,8,8,8,8,8,8
East Elmhurst,10,10,10,10,10,10
East Flatbush,15,15,15,15,15,15
East Harlem,45,45,45,45,45,45
East New York,11,11,11,11,11,11
East Tremont,17,17,17,17,17,17
East Village,100,100,100,100,100,100
East Williamsburg,69,69,69,69,69,69
Eastchester,24,24,24,24,24,24
Edenwald,5,5,5,5,5,5
Edgemere,14,14,14,14,14,14
Edgewater Park,24,24,24,24,24,24
Egbertville,5,5,5,5,5,5
Elm Park,9,9,9,9,9,9
Elmhurst,36,36,36,36,36,36
Eltingville,35,35,35,35,35,35
Emerson Hill,3,3,3,3,3,3
Erasmus,21,21,21,21,21,21
Far Rockaway,34,34,34,34,34,34
Fieldston,2,2,2,2,2,2
Financial District,100,100,100,100,100,100
Flatbush,22,22,22,22,22,22
Flatiron,100,100,100,100,100,100
Flatlands,19,19,19,19,19,19
Floral Park,7,7,7,7,7,7
Flushing,64,64,64,64,64,64
Fordham,92,92,92,92,92,92
Forest Hills,36,36,36,36,36,36
Forest Hills Gardens,27,27,27,27,27,27
Fort Greene,76,76,76,76,76,76
Fort Hamilton,66,66,66,66,66,66
Fox Hills,7,7,7,7,7,7
Fresh Meadows,14,14,14,14,14,14
Fulton Ferry,60,60,60,60,60,60
Georgetown,30,30,30,30,30,30
Gerritsen Beach,19,19,19,19,19,19
Glen Oaks,22,22,22,22,22,22
Glendale,4,4,4,4,4,4
Gowanus,67,67,67,67,67,67
Gramercy,100,100,100,100,100,100
Graniteville,5,5,5,5,5,5
Grant City,22,22,22,22,22,22
Grasmere,23,23,23,23,23,23
Gravesend,27,27,27,27,27,27
Great Kills,19,19,19,19,19,19
Greenpoint,100,100,100,100,100,100
Greenridge,5,5,5,5,5,5
Greenwich Village,100,100,100,100,100,100
Grymes Hill,4,4,4,4,4,4
Hamilton Heights,60,60,60,60,60,60
Hammels,18,18,18,18,18,18
Heartland Village,10,10,10,10,10,10
High Bridge,28,28,28,28,28,28
Highland Park,16,16,16,16,16,16
Hillcrest,22,22,22,22,22,22
Hollis,17,17,17,17,17,17
Holliswood,5,5,5,5,5,5
Homecrest,45,45,45,45,45,45
Howard Beach,41,41,41,41,41,41
Howland Hook,2,2,2,2,2,2
Hudson Yards,61,61,61,61,61,61
Huguenot,7,7,7,7,7,7
Hunters Point,78,78,78,78,78,78
Hunts Point,12,12,12,12,12,12
Inwood,57,57,57,57,57,57
Jackson Heights,83,83,83,83,83,83
Jamaica Center,44,44,44,44,44,44
Jamaica Estates,5,5,5,5,5,5
Jamaica Hills,29,29,29,29,29,29
Kensington,35,35,35,35,35,35
Kew Gardens,42,42,42,42,42,42
Kew Gardens Hills,20,20,20,20,20,20
Kingsbridge,75,75,75,75,75,75
Kingsbridge Heights,38,38,38,38,38,38
Laurelton,6,6,6,6,6,6
Lefrak City,28,28,28,28,28,28
Lenox Hill,100,100,100,100,100,100
Lighthouse Hill,5,5,5,5,5,5
Lincoln Square,100,100,100,100,100,100
Lindenwood,13,13,13,13,13,13
Little Italy,100,100,100,100,100,100
Little Neck,46,46,46,46,46,46
Long Island City,69,69,69,69,69,69
Longwood,8,8,8,8,8,8
Lower East Side,63,63,63,63,63,63
Madison,10,10,10,10,10,10
Malba,4,4,4,4,4,4
Manhattan Beach,9,9,9,9,9,9
Manhattan Terrace,19,19,19,19,19,19
Manhattan Valley,57,57,57,57,57,57
Manhattanville,41,41,41,41,41,41
Manor Heights,13,13,13,13,13,13
Marble Hill,24,24,24,24,24,24
Marine Park,9,9,9,9,9,9
Mariner's Harbor,6,6,6,6,6,6
Maspeth,33,33,33,33,33,33
Melrose,27,27,27,27,27,27
Middle Village,17,17,17,17,17,17
Midland Beach,11,11,11,11,11,11
Midtown,100,100,100,100,100,100
Midtown South,100,100,100,100,100,100
Midwood,14,14,14,14,14,14
Mill Basin,33,33,33,33,33,33
Mill Island,3,3,3,3,3,3
Morningside Heights,41,41,41,41,41,41
Morris Heights,16,16,16,16,16,16
Morris Park,24,24,24,24,24,24
Morrisania,29,29,29,29,29,29
Mott Haven,22,22,22,22,22,22
Mount Eden,38,38,38,38,38,38
Mount Hope,10,10,10,10,10,10
Murray Hill,145,145,145,145,145,145
Neponsit,4,4,4,4,4,4
New Brighton,12,12,12,12,12,12
New Dorp,23,23,23,23,23,23
New Dorp Beach,12,12,12,12,12,12
New Lots,20,20,20,20,20,20
New Springville,26,26,26,26,26,26
Noho,100,100,100,100,100,100
North Corona,21,21,21,21,21,21
North Riverdale,22,22,22,22,22,22
North Side,100,100,100,100,100,100
Norwood,32,32,32,32,32,32
Oakland Gardens,25,25,25,25,25,25
Oakwood,1,1,1,1,1,1
Ocean Hill,25,25,25,25,25,25
Ocean Parkway,18,18,18,18,18,18
Old Town,21,21,21,21,21,21
Olinville,16,16,16,16,16,16
Ozone Park,33,33,33,33,33,33
Paerdegat Basin,5,5,5,5,5,5
Park Hill,6,6,6,6,6,6
Park Slope,73,73,73,73,73,73
Parkchester,37,37,37,37,37,37
Pelham Bay,41,41,41,41,41,41
Pelham Gardens,23,23,23,23,23,23
Pelham Parkway,20,20,20,20,20,20
Pleasant Plains,15,15,15,15,15,15
Pomonok,11,11,11,11,11,11
Port Ivory,1,1,1,1,1,1
Port Morris,12,12,12,12,12,12
Port Richmond,6,6,6,6,6,6
Prince's Bay,9,9,9,9,9,9
Prospect Heights,82,82,82,82,82,82
Prospect Lefferts Gardens,47,47,47,47,47,47
Prospect Park South,48,48,48,48,48,48
Queens Village,17,17,17,17,17,17
Queensboro Hill,25,25,25,25,25,25
Queensbridge,16,16,16,16,16,16
Randall Manor,5,5,5,5,5,5
Ravenswood,28,28,28,28,28,28
Red Hook,50,50,50,50,50,50
Rego Park,40,40,40,40,40,40
Remsen Village,17,17,17,17,17,17
Richmond Hill,24,24,24,24,24,24
Richmond Town,5,5,5,5,5,5
Richmond Valley,11,11,11,11,11,11
Ridgewood,37,37,37,37,37,37
Riverdale,9,9,9,9,9,9
Rochdale,17,17,17,17,17,17
Rockaway Beach,51,51,51,51,51,51
Rockaway Park,25,25,25,25,25,25
Roosevelt Island,25,25,25,25,25,25
Rosebank,23,23,23,23,23,23
Rosedale,14,14,14,14,14,14
Rossville,15,15,15,15,15,15
Roxbury,8,8,8,8,8,8
Rugby,18,18,18,18,18,18
Sandy Ground,4,4,4,4,4,4
Schuylerville,22,22,22,22,22,22
Sea Gate,6,6,6,6,6,6
Sheepshead Bay,26,26,26,26,26,26
Shore Acres,25,25,25,25,25,25
Silver Lake,4,4,4,4,4,4
Soho,100,100,100,100,100,100
Somerville,1,1,1,1,1,1
Soundview,16,16,16,16,16,16
South Beach,7,7,7,7,7,7
South Jamaica,11,11,11,11,11,11
South Ozone Park,14,14,14,14,14,14
South Side,100,100,100,100,100,100
Springfield Gardens,13,13,13,13,13,13
Spuyten Duyvil,7,7,7,7,7,7
St. Albans,16,16,16,16,16,16
St. George,21,21,21,21,21,21
Stapleton,34,34,34,34,34,34
Starrett City,13,13,13,13,13,13
Steinway,26,26,26,26,26,26
Stuyvesant Town,20,20,20,20,20,20
Sunnyside,48,48,48,48,48,48
Sunnyside Gardens,100,100,100,100,100,100
Sunset Park,35,35,35,35,35,35
Sutton Place,100,100,100,100,100,100
Throgs Neck,13,13,13,13,13,13
Todt Hill,1,1,1,1,1,1
Tompkinsville,25,25,25,25,25,25
Tottenville,6,6,6,6,6,6
Travis,13,13,13,13,13,13
Tribeca,100,100,100,100,100,100
Tudor City,84,84,84,84,84,84
Turtle Bay,100,100,100,100,100,100
Unionport,21,21,21,21,21,21
University Heights,25,25,25,25,25,25
Upper East Side,100,100,100,100,100,100
Upper West Side,100,100,100,100,100,100
Utopia,18,18,18,18,18,18
Van Nest,20,20,20,20,20,20
Vinegar Hill,31,31,31,31,31,31
Wakefield,9,9,9,9,9,9
Washington Heights,87,87,87,87,87,87
Weeksville,16,16,16,16,16,16
West Brighton,36,36,36,36,36,36
West Farms,23,23,23,23,23,23
West Village,100,100,100,100,100,100
Westchester Square,31,31,31,31,31,31
Westerleigh,2,2,2,2,2,2
Whitestone,4,4,4,4,4,4
Williamsbridge,5,5,5,5,5,5
Williamsburg,34,34,34,34,34,34
Willowbrook,5,5,5,5,5,5
Windsor Terrace,28,28,28,28,28,28
Wingate,21,21,21,21,21,21
Woodhaven,24,24,24,24,24,24
Woodlawn,25,25,25,25,25,25
Woodrow,19,19,19,19,19,19
Woodside,76,76,76,76,76,76
Yorkville,100,100,100,100,100,100

In [16]:
# neighborhoods_data = newyork_data['features']

In [17]:
print('There are {} uniques categories.'.format(len(newyork_venues['Venue Category'].unique())))

There are 427 uniques categories.

#### Look Up Hometown geospatial coordinates and retrieve Venues information

In [18]:
df_tmp = df_cities[(df_cities.city == hometown) & (df_cities.state_id == state)]
latitude = df_tmp.lat.values[0]
longitude = df_tmp.lng.values[0]

df_hometown = df_hometown.append({'Borough': hometown,
                                          'Neighborhood': hometown,
                                          'Latitude': latitude,
                                          'Longitude': longitude}, ignore_index=True)

In [19]:
LIMIT = 150
radius = 1600
hometown_venues = getNearbyVenues(names=df_hometown['Neighborhood'],
                                   latitudes=df_hometown['Latitude'],
                                   longitudes=df_hometown['Longitude'],
                                  radius=radius,
                                  LIMIT = LIMIT
                                  )

Cupertino

In [20]:
print(hometown_venues.shape)
hometown_venues.head()

(100, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Cupertino,37.3167,-122.0465,Apple Fitness Center Results Way,37.317490,-122.051129,Gym
1,Cupertino,37.3167,-122.0465,Fujitsu Planetarium De Anza College,37.318837,-122.046217,Planetarium
2,Cupertino,37.3167,-122.0465,Ike's Place,37.322801,-122.041220,Sandwich Place
3,Cupertino,37.3167,-122.0465,Shane Co.,37.323249,-122.046537,Jewelry Store
4,Cupertino,37.3167,-122.0465,Whole Foods Market,37.323478,-122.039759,Grocery Store

In [21]:
print('There are {} uniques categories.'.format(len(hometown_venues['Venue Category'].unique())))

There are 58 uniques categories.

#### merge howntown_venues with newyork_venues into merged_venues

In [22]:
merged_venues = pd.concat([hometown_venues,newyork_venues])
merged_venues.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Cupertino,37.3167,-122.0465,Apple Fitness Center Results Way,37.317490,-122.051129,Gym
1,Cupertino,37.3167,-122.0465,Fujitsu Planetarium De Anza College,37.318837,-122.046217,Planetarium
2,Cupertino,37.3167,-122.0465,Ike's Place,37.322801,-122.041220,Sandwich Place
3,Cupertino,37.3167,-122.0465,Shane Co.,37.323249,-122.046537,Jewelry Store
4,Cupertino,37.3167,-122.0465,Whole Foods Market,37.323478,-122.039759,Grocery Store

In [23]:
print('There are {} uniques categories.'.format(len(merged_venues['Venue Category'].unique())))

There are 430 uniques categories.

In [24]:
# one hot encoding 
merged_onehot = pd.get_dummies(merged_venues[['Venue Category']], prefix="", prefix_sep="")
merged_onehot['Neighborhood'] = merged_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [merged_onehot.columns[-1]] + list(merged_onehot.columns[:-1])
merged_onehot = merged_onehot[fixed_columns]

In [25]:
merged_onehot.shape

(10426, 430)

In [26]:
merged_onehot.mean(axis=0).sort_values(ascending=False)[:10]

Pizza Place           0.041243
Italian Restaurant    0.031076
Deli / Bodega         0.026856
Coffee Shop           0.026568
Bakery                0.023115
Chinese Restaurant    0.021581
Bar                   0.020909
Mexican Restaurant    0.018224
Sandwich Place        0.017936
Grocery Store         0.017456
dtype: float64

In [27]:
# one hot encoding - later / after merge
hometown_onehot = pd.get_dummies(hometown_venues[['Venue Category']], prefix="", prefix_sep="")
# move neighborhood column to the first column
fixed_columns = [hometown_onehot.columns[-1]] + list(hometown_onehot.columns[:-1])
hometown_onehot.head()

,American Restaurant,Asian Restaurant,Bakery,Bank,Big Box Store,Breakfast Spot,Bubble Tea Shop,Burger Joint,Caf,Cantonese Restaurant,...,Sandwich Place,Spa,Sporting Goods Shop,Supplement Shop,Sushi Restaurant,Thai Restaurant,Video Game Store,Video Store,Vietnamese Restaurant,Yoga Studio
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
hometown_onehot.sum(axis=0).sort_values(ascending=False)[:10]

Coffee Shop              6
Chinese Restaurant       5
Park                     4
Bakery                   4
Sandwich Place           4
Grocery Store            3
Bubble Tea Shop          3
Vietnamese Restaurant    3
Japanese Restaurant      3
Mexican Restaurant       3
dtype: int64

In [29]:
merged_grouped = merged_onehot.groupby('Neighborhood').sum()

### Use content-based recommender system appoarch

Where hometown city is equivalent to user profile (N x 1)
and neighborhoods x venues matrix is equivalent to Movie/Content matrix (M,N), where M is number of new york neighborhoods and N is the number of selected Venues.
To get the recommended neighborhoods that close to hometown, we just need to multiply Neighborhood(content) Matrix with hometown venues(user profile) and rank the results accordingly.

The governing formula is: 
find argmax(neighborhood i) = (M(New York neighborhoods),N(venues)).dot(hometown Venues N x 1)
Normalization of inputs is necessary - pairwise cosine similarity has built in normalization and is implemented here

In [30]:
merged_grouped.shape

(303, 429)

In [31]:
# loop version for cosine similarity between hometown and each neighborhood

hometown_vec = merged_grouped.loc[hometown].values.reshape(1,-1)

scores = []
for i, neigh in enumerate(merged_grouped.index):
    neigh_vec = merged_grouped.loc[neigh].values.reshape(1,-1)
    score = np.round(cosine_similarity(hometown_vec, neigh_vec),2)
    scores.append(score)
    print(neigh, score)

Allerton [[0.31]]
Annadale [[0.25]]
Arden Heights [[0.26]]
Arlington [[0.26]]
Arrochar [[0.14]]
Arverne [[0.09]]
Astoria [[0.35]]
Astoria Heights [[0.21]]
Auburndale [[0.21]]
Bath Beach [[0.4]]
Battery Park City [[0.53]]
Bay Ridge [[0.39]]
Bay Terrace [[0.21]]
Baychester [[0.29]]
Bayside [[0.31]]
Bayswater [[0.15]]
Bedford Park [[0.32]]
Bedford Stuyvesant [[0.36]]
Beechhurst [[0.25]]
Bellaire [[0.19]]
Belle Harbor [[0.2]]
Bellerose [[0.34]]
Belmont [[0.28]]
Bensonhurst [[0.47]]
Bergen Beach [[0.]]
Blissville [[0.1]]
Bloomfield [[0.]]
Boerum Hill [[0.49]]
Borough Park [[0.32]]
Breezy Point [[0.]]
Briarwood [[0.25]]
Brighton Beach [[0.25]]
Broad Channel [[0.1]]
Broadway Junction [[0.13]]
Bronxdale [[0.32]]
Brooklyn Heights [[0.49]]
Brookville [[0.]]
Brownsville [[0.2]]
Bulls Head [[0.38]]
Bushwick [[0.41]]
Butler Manor [[0.03]]
Cambria Heights [[0.1]]
Canarsie [[0.31]]
Carnegie Hill [[0.47]]
Carroll Gardens [[0.34]]
Castle Hill [[0.2]]
Castleton Corners [[0.27]]
Central Harlem [[0.26]]
Charleston [[0.35]]
Chelsea [[0.46]]
Chinatown [[0.54]]
City Island [[0.16]]
City Line [[0.32]]
Civic Center [[0.47]]
Claremont Village [[0.41]]
Clason Point [[0.26]]
Clifton [[0.34]]
Clinton [[0.33]]
Clinton Hill [[0.43]]
Co-op City [[0.16]]
Cobble Hill [[0.43]]
College Point [[0.35]]
Concord [[0.32]]
Concourse [[0.34]]
Concourse Village [[0.35]]
Coney Island [[0.05]]
Corona [[0.34]]
Country Club [[0.21]]
Crown Heights [[0.29]]
Cupertino [[1.]]
Cypress Hills [[0.19]]
Ditmas Park [[0.25]]
Dongan Hills [[0.29]]
Douglaston [[0.26]]
Downtown [[0.49]]
Dumbo [[0.48]]
Dyker Heights [[0.11]]
East Elmhurst [[0.1]]
East Flatbush [[0.26]]
East Harlem [[0.45]]
East New York [[0.05]]
East Tremont [[0.2]]
East Village [[0.39]]
East Williamsburg [[0.31]]
Eastchester [[0.15]]
Edenwald [[0.23]]
Edgemere [[0.18]]
Edgewater Park [[0.4]]
Egbertville [[0.03]]
Elm Park [[0.31]]
Elmhurst [[0.38]]
Eltingville [[0.37]]
Emerson Hill [[0.]]
Erasmus [[0.2]]
Far Rockaway [[0.39]]
Fieldston [[0.]]
Financial District [[0.52]]
Flatbush [[0.43]]
Flatiron [[0.41]]
Flatlands [[0.18]]
Floral Park [[0.09]]
Flushing [[0.44]]
Fordham [[0.36]]
Forest Hills [[0.45]]
Forest Hills Gardens [[0.37]]
Fort Greene [[0.41]]
Fort Hamilton [[0.48]]
Fox Hills [[0.17]]
Fresh Meadows [[0.22]]
Fulton Ferry [[0.41]]
Georgetown [[0.37]]
Gerritsen Beach [[0.12]]
Glen Oaks [[0.38]]
Glendale [[0.06]]
Gowanus [[0.36]]
Gramercy [[0.48]]
Graniteville [[0.07]]
Grant City [[0.25]]
Grasmere [[0.27]]
Gravesend [[0.3]]
Great Kills [[0.33]]
Greenpoint [[0.41]]
Greenridge [[0.09]]
Greenwich Village [[0.37]]
Grymes Hill [[0.05]]
Hamilton Heights [[0.5]]
Hammels [[0.05]]
Heartland Village [[0.2]]
High  Bridge [[0.26]]
Highland Park [[0.19]]
Hillcrest [[0.29]]
Hollis [[0.43]]
Holliswood [[0.09]]
Homecrest [[0.47]]
Howard Beach [[0.37]]
Howland Hook [[0.]]
Hudson Yards [[0.41]]
Huguenot [[0.19]]
Hunters Point [[0.43]]
Hunts Point [[0.13]]
Inwood [[0.4]]
Jackson Heights [[0.28]]
Jamaica Center [[0.51]]
Jamaica Estates [[0.06]]
Jamaica Hills [[0.33]]
Kensington [[0.46]]
Kew Gardens [[0.36]]
Kew Gardens Hills [[0.27]]
Kingsbridge [[0.35]]
Kingsbridge Heights [[0.38]]
Laurelton [[0.07]]
Lefrak City [[0.23]]
Lenox Hill [[0.43]]
Lighthouse Hill [[0.09]]
Lincoln Square [[0.33]]
Lindenwood [[0.4]]
Little Italy [[0.53]]
Little Neck [[0.51]]
Long Island City [[0.48]]
Longwood [[0.18]]
Lower East Side [[0.54]]
Madison [[0.07]]
Malba [[0.]]
Manhattan Beach [[0.11]]
Manhattan Terrace [[0.29]]
Manhattan Valley [[0.6]]
Manhattanville [[0.36]]
Manor Heights [[0.19]]
Marble Hill [[0.37]]
Marine Park [[0.09]]
Mariner's Harbor [[0.04]]
Maspeth [[0.39]]
Melrose [[0.19]]
Middle Village [[0.31]]
Midland Beach [[0.08]]
Midtown [[0.45]]
Midtown South [[0.34]]
Midwood [[0.23]]
Mill Basin [[0.42]]
Mill Island [[0.]]
Morningside Heights [[0.46]]
Morris Heights [[0.3]]
Morris Park [[0.33]]
Morrisania [[0.28]]
Mott Haven [[0.25]]
Mount Eden [[0.29]]
Mount Hope [[0.2]]
Murray Hill [[0.46]]
Neponsit [[0.]]
New Brighton [[0.12]]
New Dorp [[0.34]]
New Dorp Beach [[0.03]]
New Lots [[0.32]]
New Springville [[0.39]]
Noho [[0.41]]
North Corona [[0.25]]
North Riverdale [[0.41]]
North Side [[0.5]]
Norwood [[0.47]]
Oakland Gardens [[0.37]]
Oakwood [[0.]]
Ocean Hill [[0.27]]
Ocean Parkway [[0.11]]
Old Town [[0.22]]
Olinville [[0.27]]
Ozone Park [[0.32]]
Paerdegat Basin [[0.23]]
Park Hill [[0.2]]
Park Slope [[0.57]]
Parkchester [[0.33]]
Pelham Bay [[0.37]]
Pelham Gardens [[0.26]]
Pelham Parkway [[0.36]]
Pleasant Plains [[0.13]]
Pomonok [[0.23]]
Port Ivory [[0.]]
Port Morris [[0.09]]
Port Richmond [[0.11]]
Prince's Bay [[0.25]]
Prospect Heights [[0.39]]
Prospect Lefferts Gardens [[0.24]]
Prospect Park South [[0.31]]
Queens Village [[0.26]]
Queensboro Hill [[0.41]]
Queensbridge [[0.23]]
Randall Manor [[0.14]]
Ravenswood [[0.32]]
Red Hook [[0.27]]
Rego Park [[0.54]]
Remsen Village [[0.21]]
Richmond Hill [[0.17]]
Richmond Town [[0.09]]
Richmond Valley [[0.29]]
Ridgewood [[0.39]]
Riverdale [[0.23]]
Rochdale [[0.22]]
Rockaway Beach [[0.1]]
Rockaway Park [[0.14]]
Roosevelt Island [[0.47]]
Rosebank [[0.3]]
Rosedale [[0.21]]
Rossville [[0.23]]
Roxbury [[0.06]]
Rugby [[0.31]]
Sandy Ground [[0.]]
Schuylerville [[0.36]]
Sea Gate [[0.05]]
Sheepshead Bay [[0.23]]
Shore Acres [[0.11]]
Silver Lake [[0.16]]
Soho [[0.24]]
Somerville [[0.26]]
Soundview [[0.33]]
South Beach [[0.]]
South Jamaica [[0.16]]
South Ozone Park [[0.21]]
South Side [[0.51]]
Springfield Gardens [[0.2]]
Spuyten Duyvil [[0.28]]
St. Albans [[0.17]]
St. George [[0.17]]
Stapleton [[0.34]]
Starrett City [[0.18]]
Steinway [[0.16]]
Stuyvesant Town [[0.16]]
Sunnyside [[0.52]]
Sunnyside Gardens [[0.51]]
Sunset Park [[0.4]]
Sutton Place [[0.43]]
Throgs Neck [[0.31]]
Todt Hill [[0.26]]
Tompkinsville [[0.27]]
Tottenville [[0.1]]
Travis [[0.16]]
Tribeca [[0.48]]
Tudor City [[0.51]]
Turtle Bay [[0.47]]
Unionport [[0.13]]
University Heights [[0.41]]
Upper East Side [[0.44]]
Upper West Side [[0.36]]
Utopia [[0.2]]
Van Nest [[0.21]]
Vinegar Hill [[0.27]]
Wakefield [[0.15]]
Washington Heights [[0.5]]
Weeksville [[0.35]]
West Brighton [[0.43]]
West Farms [[0.18]]
West Village [[0.33]]
Westchester Square [[0.3]]
Westerleigh [[0.09]]
Whitestone [[0.1]]
Williamsbridge [[0.]]
Williamsburg [[0.4]]
Willowbrook [[0.17]]
Windsor Terrace [[0.33]]
Wingate [[0.13]]
Woodhaven [[0.26]]
Woodlawn [[0.17]]
Woodrow [[0.45]]
Woodside [[0.44]]
Yorkville [[0.52]]

In [32]:
merged_grouped.insert(0,'scores',scores)

In [33]:
merged_grouped = merged_grouped.sort_values(by=['scores'], ascending=False)

In [34]:
merged_grouped.reset_index().head()

,Neighborhood,scores,Yoga Studio,Accessories Store,Adult Boutique,Afghan Restaurant,African Restaurant,Airport Terminal,Airport Tram,American Restaurant,...,Warehouse Store,Waste Facility,Watch Shop,Waterfront,Weight Loss Center,Whisky Bar,Wine Bar,Wine Shop,Wings Joint,Women's Store
0,Cupertino,[[1.0]],1,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
1,Manhattan Valley,[[0.6]],2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,Park Slope,[[0.57]],1,0,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,0,0
3,Rego Park,[[0.54]],0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,Chinatown,[[0.54]],0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,0,0

### Create Top Ten Common Venues of Howntown and Recommended Neighborhoods

In [35]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [36]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = merged_grouped.reset_index()['Neighborhood']

for ind in np.arange(merged_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(merged_grouped.iloc[ind, :], num_top_venues)

print("Top Ten Common Venues of Howntown and Recommended Neighborhoods\n")
neighborhoods_venues_sorted.head(6)

Top Ten Common Venues of Howntown and Recommended Neighborhoods

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Cupertino,Coffee Shop,Chinese Restaurant,Bakery,Sandwich Place,Park,Vietnamese Restaurant,Grocery Store,American Restaurant,Bubble Tea Shop,Mexican Restaurant
1,Manhattan Valley,Pizza Place,Coffee Shop,Yoga Studio,Caf,French Restaurant,Mexican Restaurant,Bar,Chinese Restaurant,Thai Restaurant,Burger Joint
2,Park Slope,Coffee Shop,Pizza Place,American Restaurant,Italian Restaurant,Burger Joint,Bookstore,Japanese Restaurant,Pub,Spa,Bagel Shop
3,Rego Park,Bakery,Grocery Store,Pharmacy,Pizza Place,Sushi Restaurant,Chinese Restaurant,Sandwich Place,Restaurant,Donut Shop,Cosmetics Shop
4,Chinatown,Chinese Restaurant,American Restaurant,Cocktail Bar,Dim Sum Restaurant,Vietnamese Restaurant,Bubble Tea Shop,Noodle House,Bakery,Salon / Barbershop,Ice Cream Shop
5,Lower East Side,Coffee Shop,Art Gallery,Chinese Restaurant,Caf,Pizza Place,Ramen Restaurant,Cocktail Bar,Japanese Restaurant,Sandwich Place,Shoe Store

In [37]:
newyork_merged = neighborhoods
newyork_merged = newyork_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')
newyork_merged.head() # check the last columns!

,Borough,Neighborhood,Latitude,Longitude,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Bronx,Wakefield,40.894705,-73.847201,Pharmacy,Caribbean Restaurant,Donut Shop,Laundromat,Pizza Place,Dessert Shop,Ice Cream Shop,Food Truck,Sandwich Place,Exhibit
1,Bronx,Co-op City,40.874294,-73.829939,Baseball Field,Bus Station,Discount Store,Pharmacy,Grocery Store,Park,Pizza Place,Gift Shop,Salon / Barbershop,Mattress Store
2,Bronx,Eastchester,40.887556,-73.827806,Caribbean Restaurant,Deli / Bodega,Bus Station,Diner,Metro Station,Bus Stop,Bakery,Bowling Alley,Seafood Restaurant,Fast Food Restaurant
3,Bronx,Fieldston,40.895437,-73.905643,Playground,Plaza,Women's Store,Field,Event Service,Event Space,Exhibit,Eye Doctor,Factory,Falafel Restaurant
4,Bronx,Riverdale,40.890834,-73.912585,Park,Plaza,Food Truck,Bus Station,Gym,Home Service,Bank,Playground,Women's Store,Event Space

In [38]:
address = 'New York City, NY'
geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of New York City are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of New York City are 40.7308619, -73.9871558.

In [39]:
neighborhoods_venues_sorted.loc[0,'Neighborhood']

'Cupertino'

### Mark Top 5 Neighborhood recommendation on New York Map

In [40]:
# create map
map_top_match = folium.Map(location=[latitude, longitude], zoom_start = 11)
k_top = 5
df_top = merged_grouped.reset_index()[1:k_top+1]
# set color scheme for the clusters
x = np.arange(k_top)
ys = [i + x + (i*x)**2 for i in range(k_top)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

for i, neigh in enumerate(df_top['Neighborhood']):
    ny_neigh = newyork_merged.loc[newyork_merged['Neighborhood']==neigh]

    poi = neigh
    lat = float(ny_neigh['Latitude'].values)
    lon = float(ny_neigh['Longitude'].values)

    label = folium.Popup(' Top ' + str(i+1) + ' Match for ' + hometown + ": " + str(poi), \
                         parse_html=True, sticky=True, max_width=500)
    folium.CircleMarker(
        [lat, lon],
        radius= 15-i*2,
        popup=label,
        label = label,
        color=rainbow[i],
        fill=True,
        fill_color=rainbow[i],
        fill_opacity=0.7).add_to(map_top_match)

map_top_match